---
import { Counter } from "@/components/pokemons/Counter";
import Title from "@/components/pokemons/shared/Title.astro";
import MainLayout from "@/Layout/MainLayout.astro";

const counterValue = 20;
---

<MainLayout title="TITLE" description="page Descriptions" image="">
  <Title>Favoritos</Title>
  <!-- <h3 class="text-4xl font-bold">Favoritos</h3>
  <hr class="text-blue-700 h-[px] w-full my-2" /> -->
  <!-- <video controls="" autoplay="" transition:persist>
    <source
      src="https://ia804502.us.archive.org/33/items/GoldenGa1939_3/GoldenGa1939_3_512kb.mp4"
      type="video/mp4"
    />
  </video> -->
</MainLayout>
